<header class="p-10 max-w-6xl">
	<h1 class="font-heading text-6xl mb-4">
		Agenda
	</h1>
	<p class="max-w-xl text-lg opacity-80">
		Conciertos, directos y actividad cultural de Santako Music.
	</p>
</header>
