---
import BaseLayout from "../layouts/BaseLayout.astro";
import MainNav from "../components/nav/MainNav.astro";
import AgendaHome from "../components/home/AgendaHome.astro";
import HeroEditorial from "../components/home/HeroEditorial.astro";
import PersonaDestacada from "../components/home/PersonaDestacada.astro";
import PodcastBlock from "../components/home/PodcastBlock.astro";
import ActivityGrid from "../components/grid/ActivityGrid.astro";
import ContactBlock from "../components/home/ContactBlock.astro";

import { content } from "../data/mock/content";
---

<BaseLayout>
  <!-- HERO -->
  <HeroEditorial />

  <!-- AGENDA Home -->
  <AgendaHome />

  <!-- PERSONA DESTACADA -->
  <PersonaDestacada />

  <!-- PODCAST -->
  <PodcastBlock />

  <!-- ARCHIVO VIVO -->
  <section class="px-6 md:px-12 xl:px-24 py-24 container-wide">
    <h2 class="font-heading text-4xl mb-6">Archivo Vivo</h2>

    <ActivityGrid items={content} />
  </section>

  <!-- CTA INSTITUCIONAL -->
  <ContactBlock />
</BaseLayout>
