---
import BaseLayout from "../layouts/BaseLayout.astro";
import ActivityGrid from "../components/grid/ActivityGrid.astro";
import { content } from "../data/mock/content";
---

<BaseLayout>
  <section class="p-10">
    <ActivityGrid items={content} />
  </section>
</BaseLayout>
