---
import BaseLayout from "../layouts/BaseLayout.astro";
import ActivityGrid from "../components/grid/ActivityGrid.astro";
import { content } from "../data/mock/content";
---

<BaseLayout>
  <section class="p-10">
    <h2 class="font-heading text-4xl mb-6">Archivo Vivo</h2>

    <ActivityGrid items={content} />
  </section>
</BaseLayout>
