---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { content } from "../../data/mock/content";

export function getStaticPaths() {
  return content
    .filter((item) => item.type === "PODCAST")
    .map((item) => ({
      params: { slug: item.data.slug },
    }));
}

const { slug } = Astro.params;

const podcast = content.find(
  (item) => item.type === "PODCAST" && item.data.slug === slug,
);

if (!podcast) {
  throw new Error("Podcast no encontrado");
}
---

<BaseLayout title={podcast.data.title}>
  <section class="px-6 md:px-12 xl:px-24 py-24 max-w-6xl mx-auto">
    <h1 class="font-heading text-5xl mb-6">
      {podcast.data.title}
    </h1>

    {
      podcast.data.description && (
        <p class="max-w-2xl text-lg opacity-80 mb-12">
          {podcast.data.description}
        </p>
      )
    }

    {
      podcast.data.youtube?.videoUrl && (
        <div class="aspect-video mb-16">
          <iframe
            src={podcast.data.youtube.videoUrl.replace("watch?v=", "embed/")}
            class="w-full h-full"
            allowfullscreen
          />
        </div>
      )
    }
  </section>
</BaseLayout>
